/* variable */
:root {
  --sub-text-color: rgba(0, 0, 0, 0.5);
}
a {
  text-decoration: none;
}
a:visited {
  color: white;
}
ul {
  list-style: none;
  padding: 0px;
}
body {
  margin: 0px;
  box-sizing: border-box;
  height: 100vh;
}
.space__fixed {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  z-index: 3;
}
 /* header */
header {
  background-color: #262b3e;
  color: whitesmoke;
  font-size: 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;  
}
.header__logo {
  display: flex;
  align-items: center;
}
.fa-youtube {
  color: #FF0102;
  margin-right: 5px;
  font-size: 25px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__menu-btn {
  padding: 5px;
  border: none;
  background: none;
  color: white;
  margin: 0px 8px;
}

/* video */

.player video {
  width: 500px;
  margin: 0px;
}

/* video info */

.info {
  margin: 0px 15px;
  margin-top: 350px;
}
.hashtags {
  display: flex;
  justify-content: flex-start;
  color: rgb(66, 66, 216);
  font-size: 12px;
  margin-bottom: 3px;
  padding: 0px;
}
.hashtags li {
  margin-right: 5px;
}
.info__main {
 display: flex;
 justify-content: space-between;
}
.title {
  display: block;
} 
.morebtn {
  border: none;
  background: none;
  padding: 0px 10px 10px 10px;
}
.views {
  font-size: 12px;
  margin-top: 5px;
  color: var(--sub-text-color);
}

.actions {
  display: flex;
  justify-content: space-between;
  margin: 10px 22px;
}
.actions-btn {
  border: none;
  background: none;
  color: var(--sub-text-color);
}
.actions-btn:focus,
.actions-btn:hover {
  color: rgb(84, 84, 233);
}

.subscribe {
  border-top: var(--sub-text-color);
  border-bottom: var(--sub-text-color);
}
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
  padding: 10px 0px ;
  border-top: 1px solid rgba(0, 0, 0, 0.2) ;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.subscribe-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.subscribe-title img {
  width: 35px;
  height: 35px;

  border-radius: 50%;
}
.subscribe-title-name p {
  margin: 2px 5px;
  font-size: 11px;
}
.subscribe-title-name p:first-child {
  font-size: 13px;
  font-weight: 600;
}
.subscribe-title-name p:last-child {
  color: var(--sub-text-color);
}
.subscribe-click {
  border: none;
  background: none;
  color: var(--sub-text-color);
}
.subscribe-click:focus,
.subscribe-click:hover {
  color: #FF0102;
}

.next {
  margin: 10px 15px;
}
.next-play {
  display: flex;
  justify-content: space-between;
  color: var(--sub-text-color);
}
.next-video__list-video a {
  display: block;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 5px;
}
.next-video__list-video a img {
  width: 150px;
  height: auto;
}
.next-video__title {
  color: #262b3e;
  font-size: 14px;
}
.next-video__title p {
  margin: 0px;
  margin-left: 8px;
}
.next-video__title p:nth-child(2), 
.next-video__title p:last-child {
  font-size: 10px;
  color: var(--sub-text-color);
  margin-top: 2px;
}

@media screen and (min-width:780px) {
  .space__move {
    display: flex;
  }
  .next {
    margin: 0px 15px;
    margin-top: 300px;
  }
}