/* variable */
:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}


a {
  text-decoration: none;
}
a:visited {
  color: white;
}
ul {
  list-style: none;
}
button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
}

 /* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: var(--font-large);
  padding: var(--padding);  
}

.header__logo {
  font-size: var(--font-large);
  display: flex;
  align-items: center;
}
.fa-youtube {
  color: var(--red-color);

}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__menu-btn {
  padding: 5px;
  border: none;
  background: none;
  color: white;
  margin: 0px 8px;
}

/* video */
.player {
  text-align: center;
  background-color: var(--black-color);
  margin-bottom: 10px;
}
.player video {
  width: 100%;
  height: 100%;
  max-width: 700px;
}

/* video info */

.info {
  padding: var(--padding);
}
.hashtags {
  display: flex;
  justify-content: flex-start;
  color: var(--blue-color);
  font-size: var(--font-small);
}

.hashtags li {
  margin-right: var(--padding);
}

.info__main {
 display: flex;
 justify-content: space-between;
}
.title {
  font-size: var(--font-medium);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
} 
.morebtn {
  height: 100%;
}
.views {
  font-size: var(--font-small);
  margin-top: 5px;
  color: var(--grey-dark-color);
}

/* Action Buttons */
.actions {
  display: flex;
  justify-content: space-around;
  margin: var(--padding) 0px;
}

.actions-btn {
  border: none;
  background: none;
  color: var(--grey-dark-color);
}
.actions-btn i {
  margin: 0 auto;
  margin-bottom: calc(var(--padding) / 2);
  font-size: 16px;
}

.actions-btn:focus,
.actions-btn:hover {
  color: rgb(84, 84, 233);
}

/* Channal Description */
.subscribe {
  border-top: var(--sub-text-color);
  border-bottom: var(--sub-text-color);
}
.subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 5px;
  padding: 10px 0px ;
  border-top: 1px solid var(--grey-light-color) ;
  border-bottom: 1px solid var(--grey-light-color);
}
.subscribe-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 250px;
}
.subscribe-title img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
}
.subscribe-title-name p {
  margin: 2px 5px;
  font-size: var(--font-medium);
}
.subscribe-title-name p:first-child {
  font-size: var(--font-small);
  font-weight: 600;
}
.subscribe-title-name p:last-child {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}
.subscribe-click {
  text-transform: uppercase;
  font-size: var(--font-medium);
  background: none;

}
.subscribe-click:focus,
.subscribe-click:hover {
  color: var(--red-color);
}

/* Up Next */
.next {
  padding: 0 var(--padding);
}
.next-play {
  display: flex;
  justify-content: space-between;
  color: var(--black-color);
  font-size: var(--font-medium);
}
.next-video__list-video a {
  display: block;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 5px;
}
.next-video__list-video a .img {
  flex: 1 1 35%;
}
.next-video__list-video a .img img {
  width: 100%;
}
.next-video__title {
  flex: 1 1 65%;
  color: var(--black-color);
}
.next-video__title p {
  margin: 0px;
  margin-left: 8px;
}
.next-video__title p:nth-child(2), 
.next-video__title p:last-child {
  font-size: 10px;
  color: var(--sub-text-color);
  margin-top: 2px;
}

@media screen and (min-width:780px) {
  .space__move {
    display: flex;
    flex-direction: row;
  }
  .info {
    flex: 50%;
  }
  .next {
    flex: 50%;
  }
}